<html>
    <head>
        <link rel="stylesheet" href="../static/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <nav>
            <div class="logo">
              <B>ZOO</B> 
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
        <h1 style="padding: 10px 20px;">Activities available</h1>
        <section class="grid-container">
            <div class="card" th:each="activity : ${activities}">
                <img src="../static/public/images/daiga-ellaby-Sg_OwwU2Z9o-unsplash.jpg" alt="Avatar" style="width:100%">
                <a href="reservation.html">
                <div class="card-container absolute">
                  <h4 th:text="${activity.getTitle()}"><b >Acquapark</b></h4> 
                  <p th:text="${activities.getDescription()}"> Monday 22</p> 
                </div>
                </a>
              </div>
              
        </section>
        </body>
</html>