<html>
    <head>
        <link rel="stylesheet" href="../static/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <nav>
            <div class="logo">
                <B>ZOO</B> 
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
        <section class="animal">
             <div class="card-single">
                <img src="../animals/pexels-pixabay-247502.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                <h4><b>Theo</b></h4> 
                <h1><b>animal</b></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequuntur fuga tenetur autem cum temporibus id exercitationem reprehenderit. Veritatis nisi non sunt maxime id sit porro, dolore exercitationem illo amet?</p>
                </div>
                </div>
            
            
        </section>
    </body>
</html>