<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link rel="stylesheet" href="/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <nav>
            <div class="logo">
                <B>ZOO</B> 
            </div>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/catalog}">Catalog</a></li>
                <li><a th:href="@{/activity}">Activity</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/reservation}">Reservation</a></li>

            </ul>
            <button sec:authorize="!isAuthenticated()" id="login"><a href="login.html">Login</a></button>
            <form method="post" th:action="@{/logout}" class="logout-form">
                <button sec:authorize="isAuthenticated()" id="logout"><a  th:href="@{/logout}">Logout</a></button>
            </form>
        </nav>
        <section class="animal">
             <div class="card-single">
                <img th:src="'/public/images/'+${animal.getName()}+'-'+${animal.getId()}+'.jpg'" alt="Avatar" style="max-width:100%">
                <div class="card-container">
                    <h2 th:text="${animal.getName()}"><b></b></h2>
                    <p th:text="${animal.getSpecies()}"></p>
                    <p th:text="${animal.getDescription()}"></p>
                </div>
                </div>
            
            
        </section>
    </body>
</html>