<html>
    <head>
        <link rel="stylesheet" href="../static/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
        <nav>
            <div class="logo">
              <B>ZOO</B> 
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
        <section class="grid-container">
            <div class="card" th:each="animal : ${animals}">
                <a href="animal.html">
                <img src="../static/public/animals/gwen-weustink-I3C1sSXj1i8-unsplash.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4 th:text="${animal.getName()}"><b></b></h4> 
                  <p th:text="${animal.getSpecies()}"></p> 
                </div>
                  </a>
            </div>
        </section>
    </body>
</html>