<html>
    <head>
        <link rel="stylesheet" href="../static/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
        <nav>
            <div class="logo">
              <B>ZOO</B> 
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
        <section class="grid-container">
            <div class="card">
                <a href="animal.html">
                <img src="../animals/gwen-weustink-I3C1sSXj1i8-unsplash.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Mario</b></h4> 
                  <p>Tiger</p> 
                  </a>
                </div>
            </div>
              <div class="card">
                <a href="animal.html">
                <img src="../animals/pexels-pixabay-247502.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Theo</b></h4> 
                  <p>Lion</p> 
                </a>    
                </div>
              </div>
              <div class="card">
                <a href="animal.html">
                <img src="../animals/thomas-evans-NVXY8_M1n40-unsplash.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Gary</b></h4> 
                  <p>Giraffe</p> 
                </div>
                </a>
              </div>
              <div class="card">
                <a href="animal.html">
                <img src="../animals/pexels-pixabay-33787.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Antonio</b></h4> 
                  <p>Gorilla</p> 
                </div>
                </a>
              </div>
              <div class="card">
                <a href="animal.html">
                <img src="../animals/dominik-lange-BFsm5vldl2I-unsplash.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Salmo</b></h4> 
                  <p>Colibrì</p> 
                </div>
                </a>
              </div>
              <div class="card">
                <a href="animal.html">
                <img src="../animals/julia-edbrooke-M62M2JolBXk-unsplash.jpg" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Re</b></h4> 
                  <p>Fenic</p> 
                </div>
                </a>
              </div>
        </section>
    </body>
</html>