<html>
    <head>
        <link rel="stylesheet" href="../static/public/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--bootstrap icon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    </head>
    <body>
        <nav class="fixed bg">
            <div class="logo">
               <B>ZOO</B> 
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
        <section class="main">
            <img src="../static/public/animals/pexels-pixabay-33787.jpg" alt="main">
            <h1>Welcome to the zoo</h1>
            <button><a href="activity.html">Tickets</a></button>
        </section>
        <section class="container">
            <div class="text-box">
            <i class="bi bi-images"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ad ducimus. Repudiandae voluptatem tempora obcaecati dignissimos suscipit delectus rerum, ex totam dolorum, fugiat blanditiis aut nesciunt sit maiores. Perspiciatis, a.</p>
            <button><a href="catalog.html">Catalog</a></button>
            </div>
            <img src="../static/public/animals/pexels-pixabay-34231.jpg" alt="">
            <img src="../static/public/animals/daiga-ellaby-Sg_OwwU2Z9o-unsplash.jpg" alt="">
            <div class="text-box">
            <i class="bi bi-calendar-event"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ad ducimus. Repudiandae voluptatem tempora obcaecati dignissimos suscipit delectus rerum, ex totam dolorum, fugiat blanditiis aut nesciunt sit maiores. Perspiciatis, a.</p>
            <button><a href="activity.html">Events</a></button>
            </div>
            <div class="text-box">
            <i class="bi bi-box-arrow-in-right"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ad ducimus. Repudiandae voluptatem tempora obcaecati dignissimos suscipit delectus rerum, ex totam dolorum, fugiat blanditiis aut nesciunt sit maiores. Perspiciatis, a.</p>
            <button><a href="register.html">Register</a></button>
            </div>
            <img src="../static/public/animals/gwen-weustink-I3C1sSXj1i8-unsplash.jpg" alt="">
        </section>
    </body>
    <script src="../static/public/js/scroll.js"> </script>
</html>