<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
    <head>
        <link rel="stylesheet" href="/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
        <nav>
            <div class="logo">
                <B>ZOO</B>            
            </div>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/catalog}">Catalog</a></li>
                <li><a th:href="@{/activity}">Activity</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/reservation}">Reservation</a></li>

            </ul>
            <button sec:authorize="!isAuthenticated()" id="login"><a href="login.html">Login</a></button>
            <form method="post" th:action="@{/logout}" class="logout-form">
                <button sec:authorize="isAuthenticated()" id="logout"><a  th:href="@{/logout}">Logout</a></button>
            </form>
        </nav>

    <section class="event">
        <div class="card-single">
            <img src="/public/images/daiga-ellaby-Sg_OwwU2Z9o-unsplash.jpg" alt="Avatar" style="width:100%">
            <div class="card-container" >

                <div th:if="${param.successful}"
                >Activity successfully scheduled</div>
                <div th:if="${param.failed}"
                >Book less tickets</div>
                  <h2 th:text="${activity.getActivity().getTitle()}"><b></b></h2>
                  <p th:text="${activity.getActivity().getDescription()}"></p>

                    <p th:text="'Date: '+${activity.getDate()}"></p>

                    <p th:text="'Duration: '+${activity.getDuration()}+' minutes'"></p>




                <form th:if="${activity.getActivityStatus().name()=='AVAILABLE'}" action="" method="post" th:action="@{/activity/{id}(id=${activity.getId()})}">

                <label  for="places">Select places:</label>
                    <br>
                    <input type="number" id="places" name="places" required>

                    <button type="submit">Book</button>

                </form>
                <div th:if="${activity.getActivityStatus().name()=='FULL'}"
                >Activity is full</div>
                <div th:if="${activity.getActivityStatus().name()=='EXPIRED'}"
                >Activity is expired</div>
            </div>
          </div>
    </section>
    </body>
</html>