<html>
    <head>
        <link rel="stylesheet" href="../static/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
        <nav>
            <div class="logo">
                <B>ZOO</B>            
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="activity.html">Activity</a></li>
            </ul>
            <button id="login"><a href="login.html">Login</a></button>
        </nav>
    </body>
    <section class="event">
        <div class="card-single">
            <img src="../static/public/animals/daiga-ellaby-Sg_OwwU2Z9o-unsplash.jpg" alt="Avatar" style="width:100%">
            <div class="card-container">
              <h2><b>Acquapark</b></h2> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, dolores nihil, nostrum odit, dolore minus quam a consequatur reiciendis totam quidem veniam optio nobis at nesciunt odio placeat repudiandae voluptatem.</p> 
              <h4><b>Select an hour to visit:</b></h4>
              <select name="" id="">
                <option value="">Select time</option>
                <option value="">9-11</option>
                <option value="">13-15</option>
              </select>
              <br>
              <button>Reserve Ticket</button>
            </div>
          </div>
    </section>
</html>